* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
    font-family: "Inter Regular", sans-serif;
}

#nav {
    margin-top: 2%;
    text-align: left;
    margin-left: 5%;
    position: relative; /* Removido o z-index duplicado */
}

#store, #acc, #leaf {
    width: 5%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#acc {
    width: 38px;
    height: 38px;
    right: 39px;
    margin-top: -1.5px;
}

#store {
    width: 38px;
    height: 38px;
    right: 68px;
    margin-top: -1.5px;
}

#leaf {
    width: 44px;
    height: 44px;
}

#nav a {
    color: #010101;
    font-size: 1.3vw; /* Alterado para viewport width (vw) para melhor adaptação */
    text-decoration: none;
    vertical-align: middle;
    margin-left: 3vw;
}

#nav .nav {
    margin-right: 2vw; /* Alterado para viewport width (vw) para melhor adaptação */
}

#nav #leaf {
    margin-right: 1vw; /* Alterado para viewport width (vw) para melhor adaptação */
}

.econews {
    font-size: 60px;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.título-news {
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.main {
    line-height: 1.6;
    color: #292f36;
}

figure {
    justify-content: center;
    display: flex;
}

figcaption {
    justify-content: center;
    display: flex;
}

.img_destaque {
    width: 1000px;
    height: 700px;
    border: 15px solid #2D4128;
    border-radius: 10px;
}

.content{ 
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}



h {
    font-size: 20px;
    display: flex;
    margin-bottom: 50px;
    font-weight: bold;
}


article p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
