body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza verticalmente */
  }
  
  .slide-wrapper {
    width: 100%;
    max-width: 1200px; /* Defina o máximo desejado */
    overflow: hidden;
  }
  
  .slide {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    transition: transform 0.3s;
  }
  
  .slide:hover {
    transform: scale(1.05);
  }
  
  .slide-content {
    display: flex;
    flex-direction: row;
  }
  
  .slide img {
    width: 50%;
    height: auto;
  }
  
  .text {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .text h2 {
    margin: 0 0 5px;
    font-size: 24px;
  }
  
  .text p {
    margin: 0;
    font-size: 16px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 18px;
    padding: 10px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  